.promo__donation {
    width: 230px;
    height: 100%;
    background-color: var(--Orange-300);
    border-radius: 5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--Gradation-100);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}