.card {
  width: 400px;
  height: 510px;
  background: rgba(22, 79, 100, 0.78);
  border-radius: 0px;
  border-bottom-right-radius: 25px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  background: #8f4444;
  cursor: pointer;
}

.event-preview {
  width: 400px;
  height: 250px;
  object-fit: fill;
}

.item-left {
  width: 15px;
}

.item-online {
  position: absolute;
  bottom: 13px;
  right: 160px;
}

@media (max-width: 400px) {
  .card {
    width: 100vw;
    height: 422px;
  }

  .event-preview {
    width: 100%;
    height: 157px;
    overflow: hidden;
  }

  .event-preview img {
    width: 100%;
    height: 100%;
  }
}

.card-title {
  font-family: "Sreda";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: white;
  margin: 27px 20px 0;
}

.card-body {
  margin-top: 28px;
  text-overflow: ellipsis;
  text-align: start;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  letter-spacing: -0.03em;

  color: #ffffff;
}

.footer-cotainer {
  position: absolute;
  bottom: 13px;
}

.item-left {
  position: absolute;
  bottom: 13px;
  left: 20px;
}

.item-right {
  position: absolute;
  bottom: 13px;
  right: 20px;
}

.card-footer p {
  padding: 0;
  margin: 0;
  font-family: "Sreda";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  color: rgba(255, 255, 255, 0.6);
}
