@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "Sreda";
  src: url("../../vendor/fonts/Sreda.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.question_component {
  margin-bottom: 112px;
  overflow: hidden;
}

.title {
  font-family: 'Sreda';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: var(--Gradation-700);
  margin: 0 0 24px;
}

.accordion {
  max-width: 814px;
  margin: 0 auto 0;
}

.accordionVisible {
  width: 100%;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: var(--Gradation-100);
  border: 0;
  border-bottom: 1px solid var(--Gradation-300);
  cursor: pointer;
}

.question {
  padding: 17px 0 17px 12px;
  margin: 0;
  font-family: "Sreda";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  z-index: 5;
  line-height: 125%;
  color: var(--Gradation-700);
  text-align: left;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 16px 0 24px 0;
  color: var(--Gradation-600);
  text-align: start;
}

.accordionImg {
  width: 20px;
  height: 20px;
  padding: 16px 16px;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.accordionImgActive {
  width: 20px;
  height: 20px;
  padding: 16px 16px;
  transform: rotate(0deg)
}

.accordionToggle {
  height: 0px;
  font-size: 18px;
  opacity: 0;
  transition:  
  opacity 0.3s ease-in-out,
  height 0.3s 0.3s ease-in-out;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.animated {
  opacity: 1;
  transition:  
  height 0.3s ease-in-out,
  opacity 0.3s 0.3s ease-in-out;
}

.accordionToggle p {
  margin: 0;
  padding: 22px 15px;
  pointer-events: none;
  line-height: 1.3;
}
