@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "Sreda";
  src: url("../../vendor/fonts/Sreda.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.question_component {
  margin-bottom: 112px;
  overflow: hidden;
}

.title {
  font-family: 'Sreda';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: var(--Gradation-700);
  margin: 0 0 24px;
}