@import url(../../vendor/fonts/fonts.css);

.wrapper {
  margin: 26px auto 0;
  background: var(--Gradation-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.title {
  max-width: 1232px;
  font-family: 'Sreda';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
  padding-top: 27px;
  text-align: center;
}

.description {
  max-width: 1232px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  padding-top: 35px;
}

.link {
  text-decoration: none;
  width: 206px;
  height: 100%;
  padding: 16px;
  margin-top: 35px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Orange-300);
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--Gradation-100);
}

.link:hover {
  cursor: pointer;
  background-color: var(--Orange-200);
	border-color: var(--Highlight-Light);
}

.document {
  margin: auto;
  background: var(--Gradation-200);
  max-width: 1440px;
  width: 100%;
}

.title_document {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 137px;
  max-width: 1232px;
  font-family: 'Sreda';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  color: var(--Cyan-300);
  text-align: center;
}

.shell {
  max-width: 1232px;
  margin: auto;
  display: grid;
  gap: 60px 79px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3,1fr);
  padding-bottom: 106px;
}
.modal-window {
  position: fixed;
  z-index: 40;
  top: 50%;
  left: 50%;
  max-width: 1000px;
  width: 65%;
  max-height: calc(100vh - 210px);
  background: white;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow-y: auto;
}

.closeIcon {
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  border-radius: 100%;
  background-image: url("../../images/close-icon-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity .1s linear;
  cursor: pointer;
}

.closeIcon:hover {
  opacity: .6;
}

.card-holder img {
  border-radius: 20px;
  object-fit: scale-down;
  object-position: center center;
  margin: 20px 0;
}

.buttons {
  display: flex;
  gap: 40px;
}

@media (max-width: 1100px) {
  .modal-window {
    max-width: 800px;
  }
}

@media (max-width: 600px) {
  .modal-window {
    width: 90%;
  }

  .modal-title {
    font-size: 36px !important;
  }
  .modalDate {
    font-size: 20px !important;
  }
}

.hide {
  display: none !important;
}

.card-holder img {
  border-radius: 20px;
}

.modal-title {
  font-family: "Sreda";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  /* identical to box height, or 48px */

  text-align: center;
  color: var(--Cyan-300);
  margin: 2% 0 2% 0;
}

.modal-body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: -0.03em;
  color: var(--Cyan-300);
  width: 90%;
  margin-inline: auto;
  text-align: start;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: 5%;
}
.back-btn {
  border-radius: 100%;
  border: none;
  width: 40px;
  background-image: url("../../images/arrow-left.svg");
  height: 40px;
  transition: 0.2s;
}

.btn-revers {
  transform: rotate(-180deg);
}

.back-btn:hover {
  cursor: pointer;
  background: #eb855a;
  background-image: url("../../images/arrow-left-hover.svg");
}

.modalDate {
  font-family: "Sreda";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  text-align: center;

  color: #164f64;
}

.modal {
  display: block; /* Note */
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media(max-width: 1439px) {
  .title {
    padding: 27px 104px;
  }

  .description {
    padding: 35px 104px 0;
  }
}

@media(max-width: 1320px) {
  .shell {
    margin: 0 105px;
    gap: 40px;
  }
}

@media(max-width: 1200px) {
  .shell {
    gap: 30px;
  }
}

@media(max-width: 1040px) {
  .shell {
    gap: 15px;
  }
}

@media(max-width: 900px) {
  .title_document {
    padding-bottom: 87px;
  }

  .shell {
    margin: 0 50px;
    gap: 40px;
  }
}

@media(max-width: 800px) {
  .title_document {
    font-size: 28px;
    line-height: 110%;
  }

  .shell {
    grid-template-columns: repeat(2,1fr);
    margin: 0 100px;
  }
}

@media(max-width: 660px) {
  .shell {
    margin: 0 80px;
    gap: 20px;
  }
}

@media(max-width: 500px) {
  .description {
    padding: 35px 16px 0;
  }

  .shell {
    margin: 0 50px;    
    padding-top: 0;
    padding-bottom: 60px;
    gap: 15px;
  }
}

@media(max-width: 390px) {
  .shell {
    margin: 0 50px;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
  }
}