.footer {
  /* background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center; */
  min-height: 300px;
  padding: 56px 105px;
  background-color: var(--Gradation-700);
  color: var(--Gradation-300);
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer__column-heading {
  font: Inter;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  margin: 0;
}

.footer__column-find {
  width: 240px;
}

.footer__column-links {
  max-width: 192px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 0;
  margin-bottom: 16px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 0;
  text-decoration: none;
  color: white;
  transition-duration: 1s;
}

.footer__column-link:hover {
  opacity: 0.5;
}



.footer__social-icon {
  width: 18px;
  height: 18px;
  padding-right: 22px;
  text-decoration: none;
}

.footer__content_copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--Gradation-500);
}

.footer__copyright {
  font-family: Inter;
  font-size: 14px;
  line-height: 21px;
  color: var(--Gradation-500);
}

.footer__column_content_info {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.footer__column_content_social {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 16px;
  margin-right: 0;
}

.footer__search-form {
  width: 240px;
  height: 40px;
  background: var(--Gradation-600);
  border-radius: 5px;
}

.footer__form-input {
  background: var(--Gradation-600);
  color: var(--Gradation-300);
  font-size: 14px;
  line-height: 21px;
}

.footer__form-button {
  width: 40px;
  height: 40px;
  background: var(--Gradation-600);
  background-image: url(../../images/lupa.svg);
  background-position: cover;
}