body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* variables */

:root {
  /* Gradation */
  --Gradation-700: #0c0d0d;
  --Gradation-600: #242728;
  --Gradation-500: #494e50;
  --Gradation-400: #798286;
  --Gradation-300: #afb4b6;
  --Gradation-200: #eff0f0;
  --Gradation-100: #fcfcfd;
  /* Orange */
  --Orange-300: #e75d22;
  --Orange-200: #eb855a;
  --Orange-100: #f2d0c2;
  /* Cyan */
  --Cyan-300: #164f64;
  --Cyan-200: #bed4dc;
  --Cyan-100: #dee9ed;
  /* Yellow */
  --Yellow-300: #ffc935;
  --Yellow-200: #f6d477;
  --Yellow-100: #f4e6bd;
  /* Tint */
  --Tint-Heavy: rgba(12, 13, 13, 0.6);
  --Tint-Light: rgba(12, 13, 13, 0.3);
  /* Highlight */
  --Highlight-Heavy: rgba(242, 242, 243, 0.1);
  --Highlight-Light: rgba(242, 242, 243, 0.05);
  /* Spacing */
  --Spacing-Size: rgba(255, 2, 2, 0.3);
  --Spacing-Text: rgba(255, 2, 2, 0.1);
  --Spacing-Background: rgba(255, 2, 2, 0.03);
}
