.wrapper {
  max-width: 357px;
  height: 397px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 47px;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.img {
  height: 88px;
  width: 88px;
  padding-top: 32px;
}

.title {
  width: 248px;
  margin: 0;
  font-family: 'Sreda';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}

.description {
  margin: 0;
  font-family: 'Sreda';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.38);
}

.button {
  width: 145px;
  height: 54px;
  padding: 0;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Sreda';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  border: 1px solid #000000;
  background: transparent;
  cursor: pointer;
  transition: .2s;
}

.button:hover {
  box-shadow: 0 0 10px #000;
}

.img_button {
  height: 25px;
  width: 25px;
}

@media(max-width: 1320px) {
  .wrapper {
    max-width: 300px;
    height: 357px;
    gap: 37px;
  }
}

@media(max-width: 1200px) {
  .wrapper {
    max-width: 250px;
    height: 280px;
    gap: 20px;
  }

  .img {
    height: 60px;
    width: 60px;
    padding-top: 32px;
  }

  .title {
    font-size: 18px;
    line-height: 120%;
  }

  .description {
    font-size: 16px;
    line-height: 120%;
  }

  .button {
    width: 125px;
    height: 40px;
  }
}

@media(max-width: 1000px) {
    .wrapper {
    max-width: 200px;
    height: 230px;
    gap: 20px;
  }

  .img {
    height: 50px;
    width: 50px;
    padding-top: 28px;
  }

  .title {
    font-size: 12px;
    line-height: 110%;
  }

  .description {
    font-size: 14px;
    line-height: 110%;
  }

  .button {
    width: 110px;
    height: 30px;
  }

  .img_button {
    height: 20px;
    width: 20px;
  }
}

@media(max-width: 600px) {
    .wrapper {
    max-width: 150px;
    height: 170px;
    gap: 15px;
  }

  .img {
    height: 30px;
    width: 30px;
    padding-top: 28px;
  }

  .title {
    font-size: 12px;
    line-height: 110%;
  }

  .description {
    font-size: 14px;
    line-height: 110%;
  }

  .button {
    width: 90px;
    height: 22px;
    margin-bottom: 22px;
  }

  .img_button {
    height: 15px;
    width: 15px;
  }
}

@media(max-width: 450px) {
  .wrapper {
  max-width: 120px;
  height: 140px;
  gap: 15px;
}

.img {
  height: 20px;
  width: 20px;
  padding-top: 10px;
}

.title {
  font-size: 12px;
  line-height: 110%;
}

.description {
  font-size: 12px;
  line-height: 110%;
}

.button {
  width: 70px;
  height: 22px;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 125%;
}

.img_button {
  height: 15px;
  width: 15px;
}
}

@media(max-width: 390px) {
  .wrapper {
    max-width: 200px;
    height: 230px;
    gap: 20px;
  }

  .img {
    height: 50px;
    width: 50px;
    padding-top: 28px;
  }

  .title {
    font-size: 16px;
    line-height: 110%;
  }

  .description {
    font-size: 18px;
    line-height: 110%;
  }

  .button {
    width: 110px;
    height: 30px;
    font-size: 18px;
    line-height: 125%;
  }

  .img_button {
    height: 20px;
    width: 20px;
  }
}