.donate {
	margin: 0 auto;
	max-width: 1440px;
	min-width: 360px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
}
.donate__title {
	font-family: 'Sreda', serif;
	font-weight: 400;
	font-size: 64px;
	line-height: 100%;
	text-align: left;
	color: var(--Cyan-300);
	margin: 35px 104px 26px;
}
.donate__title_type_root {
	font-size: 40px;
	line-height: 125%;
	color: var(--Gradation-700);
	text-align: center;
}
.donate__paragraph {
	margin: 0;
	padding: 0;
	font-family: 'Sreda';
	font-weight: 400;
	font-size: 80px;
	line-height: 100%;
	text-align: center;
	color: var(--Cyan-300);
}
.donate__reasons {
	background: var(--Gradation-200);
	display: inline-block;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
}
.donate__reasonsTitle {
	margin: 42px auto 0;
	font-family: 'Sreda';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 125%;
	text-align: center;
	color: var(--Gradation-700);
}
.donate__reasonsList {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0 auto 40px;
	gap: 16px;
	max-width: 1232px;
}
.donate__reason {
	display: grid;
	justify-content: center;
	grid-template-columns: 78px 1fr;
	gap: 22px;
	margin: 16px 0 0;
	padding: 25px 17px 25px 24px;
	background-color: var(--Gradation-100);
	align-items: center;
	text-align: left;
	border-radius: 5px;
	max-width: 360px;
	width: 100%;
}
.donate__reasonImage {
	width: 80px;
	height: 80px;
}
.donate__reasonTitle {
	margin: 0;
	font-family: 'Sreda';
	font-weight: 400;
	font-size: 20px;
	line-height: 125%;
	color: var(--Gradation-700);
}
.donate__reasonDescription {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: var(--Gradation-600);
}
.donate__container {
	background-color: var(--Cyan-300);
	background-size: 100px;
	padding: 68px 0;
	width: calc(100% - 14.44%);
	margin: 60px auto;
	border-radius: 20px;
	max-width: 1440px;
	width: 100%;
}
.donate__container_page_root {
	background-color: var(--Orange-300);
	margin: 96px auto;
}
.donate__form {
	background-color: var(--Gradation-100);
	border-radius: 10px;
	max-width: 1010px;
	min-width: 310px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 391px 386px;
	grid-template-rows: 111px 29px 65px 92px 54px 64px 85px;
	gap: 0px 51px;
	grid-template-areas:
			"img switchers"
			"img title"
			"img donation-row1"
			"img donation-row2"
			"img anonim"
			"img submit"
			"img offer";
}
.donate__formSwitchers {
	grid-area: switchers;
	margin: 39px 0 0;
	display: flex;
	align-items: flex-start;
	gap: 44px;
}
.donate__formSwitcher {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: var(--Gradation-600);
	background-color: inherit;
	border: none;
	padding: 0 6px 12px;
}
.donate__formSwitcher_type_active {
	color: var(--Orange-300);
	font-weight: 500;
	border-bottom: 1px solid var(--Orange-300);
}
.donate__formImage {
	margin: 40px 0 40px 24px;
	object-fit: cover;
	display: block;
	object-position: 34% 50%;
	border-radius: 5px;
	grid-area: img;
	transform: rotateY(180deg);
}
.donate__formTitle {
	grid-area: title;
	font-weight: 400;
	font-size: 12px;
	line-height: 125%;
	color: var(--Gradation-500);
	text-align: left;
	margin: 0;
}
.donate__donationContainer {
	grid-area: donation-row1;
	transition: all 0.2s linear;
	visibility: visible;
	opacity: 1;
	display: flex;
	gap: 16px;
}
.donate__donationContainer:last-of-type {
	grid-area: donation-row2;
}
.donate__formDonation {
	background-color: var(--Cyan-100);
	border: none;
	padding: 0;
	transition: all 0.2s linear;
	border-radius: 5px;
	width: 100vw;
	height: 56px;
	font-family: 'Sreda';
	font-weight: 400;
	font-size: 24px;
	line-height: 125%;
	text-align: center;
	color: var(--Cyan-300);
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}
.donate__formRadio:checked ~ .donate__formDonation {
	background-color: var(--Cyan-300);
	color: var(--Gradation-100);
}
.donate__formLabel {
	display: flex;
	flex-direction: column;
	text-align: left;
	grid-area: donation-row2;
	transition: all 0.2s linear;
}
.donate__formLabel:last-of-type {
	justify-content: space-between;
	flex-direction: row;
	height: min-content;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--Gradation-300);
	grid-area: anonim;
}
.donate__formSpan {
	font-weight: 400;
	font-size: 12px;
	line-height: 125%;
	color: var(--Gradation-500);
}
.donate__formSpan:last-of-type {
	font-size: 14px;
	line-height: 150%;
}
.donate__formInput {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	border: 1px solid var(--Gradation-200);
	outline: none;
	border-radius: 5px;
	background-color: var(--Gradation-200);
	color: var(--Gradation-500);
	padding: 14px;
	margin: 9px 0;
	transition: all .2s linear;
}
.donate__formInput:focus {
	border-color: #E72233;
}
.donate__formInput::-webkit-outer-spin-button,
.donate__formInput::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
}
.donate__formLabelRadio {
	position: relative;
}
.donate__formRadio {
	box-sizing: border-box;
	padding: 0;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.donate__formCheckbox {
	position: relative;
	width: 32px;
	height: 20px;
	padding: 0;
	margin: 0;
}
.donate__formCheckbox::before {
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	background-color: var(--Gradation-200);
	border: 1px solid var(--Gradation-300);
	border-radius: 5px;
	transition: all 0.2s linear;
}
.donate__formCheckbox::after {
	position: absolute;
	content: '';
	top: 3px;
	bottom: 3px;
	left: 3px;
	right: 15px;
	border-radius: 2.5px;
	background-color: var(--Gradation-400);
	transition: all 0.2s linear;
}
.donate__formCheckbox:checked::before {
	background-color: var(--Orange-300);
	border-color: var(--Highlight-Heavy);
}
.donate__formCheckbox:checked::after {
	background-color: var(--Gradation-100);
	right: 3px;
	left: 15px;
}
.donate__formElement_type_hidden {
	visibility: hidden;
	opacity: 0;
}
.donate__button {
	margin: 40px auto 0;
	padding: 0;
	background-color: var(--Orange-300);
	border-radius: 5px;
	border: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	color: var(--Gradation-100);
	max-width: 206px;
	width: 100%;
	max-height: 48px;
	height: 100vh;
	cursor: pointer;
}
.donate__formSubmit {
	grid-area: submit;
	margin: 0;
}
.donate__formOffer {
	grid-area: offer;
	font-weight: 400;
	font-size: 12px;
	line-height: 125%;
	color: var(--Gradation-500);
	text-align: left;
}
.donate__formLink {
	color: inherit;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 1px solid var(--Gradation-500);
}
.donate__formSwitcher, .donate__button, .donate__formDonation {
	transition: all 0.2s linear;
}
.donate__formSwitcher:hover, .donate__button:hover, .donate__formDonation:hover, .donate__formCheckbox {
	cursor: pointer;
}
.donate__formDonation:hover {
	background-color: var(--Cyan-200);
}
.donate__formRadio:checked ~ .donate__formDonation:hover {
	color: var(--Gradation-300);
	background-color: var(--Gradation-500);
}
.donate__formSwitcher:hover {
	color: var(--Gradation-400);
	cursor: pointer;
}
.donate__formSwitcher_type_active:hover {
	color: var(--Orange-200);
	border-bottom-color: var(--Orange-200);
}
.donate__button:hover {
	background-color: var(--Orange-200);
	border-color: var(--Highlight-Light);
}
@media screen and (max-width: 1280px) {
	.donate__title {
    font-size: 9vw;
    width: min-content;
    margin: 16px auto 26px;
	}
	.donate__title_type_root {
		font-size: 5vw;
    width: fit-content;
	}
	.donate__paragraph {
		font-size: 6.67vw;
	}
	.donate__reasons {
		width: 100%;
    padding-top: 18px;
		gap: 8px;
	}
	.donate__reasonsTitle {
    font-size: 7.2vw;
    width: calc(100% - 32px);
    margin: 0 auto 12px;
	}
	.donate__reasonTitle {
		font-size: 4.5vw;
	}
	.donate__reasonsList {
		margin: 0 auto 40px;
		gap: 8px;
    flex-direction: column;
    align-items: center;
	}
	.donate__reason {
    padding: 29px 16px;
		margin: 0;
		width: 70vw;
    max-width: 764px;
	}
	.donate__reasonImage {
		width: 56px;
    height: 56px
	}
	.donate__container {
    padding: 32px 0;
		max-width: 850px;
	}
	.donate__form {
		grid-template-columns: 0.9fr calc(49% - 16px);
		gap: 0px 40px;
	}
	.donate__formImage {
		max-width: 368px;
    width: inherit;
		margin-left: 16px;
	}
}
@media screen and (max-width: 768px) {
	.donate__reasons {		
    padding-top: 31px;
    margin-bottom: 14px;
	}
	.donate__reasonsList {
		padding: 0 16px;
	}
	.donate__reason {
    margin: 0;
    grid-template-columns: 56px 1fr;
		gap: 20px;
    width: calc(100% - 32px);
    min-width: 278px;
		max-width: 456px;
    max-width: 500px;
	}
	.donate__container {
    width: 100%;
		padding: 20px 0 20px;
    border-radius: 10px;
	}
	.donate__form {
		grid-template-columns: 1fr;
		grid-template-rows: 105px auto 15px 62px 94px 51px 60px 31px;
		grid-template-areas:
			"switchers"
			"img"
			"title"
			"donation-row1"
			"donation-row2"
			"anonim"
			"submit"
			"offer";
	}
	.donate__formSwitchers {
		margin: 30px auto 21px;
    max-width: calc(100% - 20px);
    gap: 14px;
	}
	.donate__formImage {
		margin: 0 auto;
    max-width: none;
    width: calc(100% - 32px);
    height: 91%;
    object-fit: cover;
	}
	.donate__formTitle, .donate__formSpan, .donate__formInput, .donate__formOffer {
		margin: 0 16px;
	}
	.donate__formSubmit {
		width: calc(100% - 32px);
    margin: 0 auto;
    max-width: none;
	}
	.donate__donationContainer {
		margin: 8px auto;
    width: calc(100% - 32px);
    justify-content: center;
    max-width: none;
    height: fit-content;
	}
	.donate__donationContainer:last-of-type {
		margin-top: 8px;
	}
	.donate__formDonation {
    height: 56px;
	}
	.donate__formLabel:last-of-type {
		margin: 0 auto;
    width: calc(100% - 32px);
	}
	.donate__formSpan_type_anonim {
		margin: 0;
	}
}